@model IEnumerable<QuizApp.ViewModel.Managing.TestViewModel>

@{
    ViewBag.Title = "TestManagement";
}

<h2>TestManagement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTimeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionTimeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guid)
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TestTimeLimit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuestionTimeLimit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Guid)
    </td>

    <td type="button" onclick="BtnClick()">
        <div class="btn-group-justified">
            @Html.ActionLink("Questions Answer", "QuestionsAnswer", new { guid = item.Guid }, new { @class = "btn btn-group btn-info" })
            
        </div>
    </td>

    <td type="button" onclick="BtnClick()">
        <div class="btn-group-justified">
           
            @Html.ActionLink("Test Questions", "TestQuestions", new { guid = item.Guid }, new { @class = "btn btn-group btn-warning" })
        </div>
    </td>
    <td type="button" onclick="BtnClick()">
        <div class="btn-group-justified">
            
            @Html.ActionLink("Delete", "DeleteTest", new { guid = item.Guid }, new { @class = "btn btn-group btn-danger" })
        </div>
    </td>
    <td type="button" onclick="BtnClick()">
        <div class="btn-group-justified">
            @Html.ActionLink("Create URL", "CreateTestingUrl", null, new { @class = "btn btn-group btn-success" })
        </div>
    </td>
</tr>
}

</table>
